version: "3"

services:
  iut_sandwich:
    container_name: iut_sandwich
    image: node:lts
    env_file: ./service/.env
    working_dir: /usr/src/app
    volumes:
      - ./service/priseDeCommandes:/usr/src/app
    ports:
      - 3333:3000
    command: npm run watch
    depends_on:
      - iut_db_sandwich
    links:
      - iut_db_sandwich
    networks:
      - sandwich

  iut_sandwich_suivi_fabrication:
    container_name: iut_sandwich_suivi_fabrication
    image: node:lts
    env_file: ./service/.env
    working_dir: /usr/src/app
    volumes:
      - ./service/suiviFabrication:/usr/src/app
    ports:
      - 3334:3001
    command: npm run watch
    depends_on:
      - iut_db_sandwich
    links:
      - iut_db_sandwich
    networks:
      - sandwich

  iut_sandwich_auth_service:
    container_name: iut_sandwich_auth_service
    image: node:lts
    env_file: ./service/.env
    working_dir: /usr/src/app
    volumes:
      - ./service/auth_service:/usr/src/app
    ports:
      - 3335:3002
    command: npm run watch
    depends_on:
      - iut_db_sandwich
    links:
      - iut_db_sandwich
    networks:
      - sandwich

  iut_adminer:
    container_name: iut_adminer
    image: adminer
    ports:
      - 8080:8080
    depends_on:
      - iut_db_sandwich
    networks:
      - sandwich

  iut_db_sandwich:
    container_name: iut_db_sandwich
    image: mariadb:latest
    env_file: ./service/.env
    volumes:
      - ./service/db:/var/lib/mysql
      - ./service/schema.sql:/docker-entrypoint-initdb.d/1.sql
      - ./service/data.sql:/docker-entrypoint-initdb.d/2.sql
    networks:
      - sandwich

networks:
  sandwich:
    driver: bridge